@font-face { 
	font-family: Freakshow; src: url('carnevalee_freakshow.ttf'); 
}

body {
	background-image: url('http://lasttangoinbuenosaires.typepad.com/.a/6a00e551fcd886883401053711d2d9970b-800wi');
	background-size: cover;
}

h1 {
	font-size: 190px;
}

button {
	font-family: Freakshow;
	height: 70px;
	width: 130px;
	font-size: 40px;
	border-radius: 25%;
	background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid black;
    outline: none;
}

h4 {
	font-family: Freakshow;
}

button:hover {
	color: #CC3300;
	border: 2px solid #CC3300;
	background: white;
}
#music {
	height: 35px;
	width: 35px;
	border-radius: 25%;
	background-color: transparent;
	border: 2px solid black;
	outline: none;
}
#on {
	color: #CC3300;
}
.color {
	color: black;
	vertical-align: middle;
}
.color:hover {
	color: #CC3300;
}

#music:hover {
	border: 2px solid #CC3300;
	background: white;
}
#vol {
	position: relative;
	padding-bottom: 3px;
	padding-right: 5px;
}
.board {
	vertical-align: top;
}

.intro {
	text-align: center;
	font-family: Freakshow;
}

#desd {
	cursor: help;
	font-size: 35px;
}
#desd:hover {
	color: #CC3300;
}

#des {
	font-size: 35px;
	text-align: center;
	color: white;	
}

.letter {
	height: 60px;
	width: 50px;
	border-bottom: 5px solid black;
	display: inline-block;
	margin-right: 15px;
	border-radius: 25%;
	background: white;
	vertical-align: top;
}

.let {
	font-family: Freakshow;
	font-size: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
	color: black;
}
.w {
	display: flex;
	justify-content: space-around;
}

.diff {
	text-align: center;
	margin-top: 150px;
}
.diff p {
	font-family: Freakshow;
}
.dif_buttons {
	margin-right: 35px;
}
.dp {
	margin-right: 13px;
	font-size: 20px;
}
.turns_left {
	font-family: Freakshow;
	font-size: 30px;
}
.turns {
	margin-top: 30px;
	margin-left: 30px;
}
.input {
	height: 60px;
	width: 50px;
	margin: 5px 5px 5px 5px;
	color: white;
	border: 2px solid white;
	text-align: center;
	line-height: 50px;
	padding-bottom: 10px;
}
.input:hover {
	border: 2px solid #CC3300;
	background: white;
}

.display {
	position: relative;
	height: 400px;
}

.hang_display {
	position: absolute;
	top: 0;
	width: 575px;
	height: 400px;
}
.add {
	color: #CC3300;
	border: 2px solid #CC3300;
	background: white;
}
.word {
	margin-bottom: 15px;
}
.top {
	margin-left: 50px;
	margin-top: 30px;
}
.tc {
	color: #CC3300;
}
.top h4 {
	font-size: 22px;
}
#reset {
	height: 50px;
	width: 200px;
	font-size: 30px;
	margin-top: 20px;
}

