@font-face { 
	font-family: Freakshow; src: url('carnevalee_freakshow.ttf'); 
}

body {
	background-image: url('background.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
	font-size: 190px;
	margin-bottom: 20px;
}

button {
	font-family: Freakshow;
	height: 70px;
	width: 130px;
	font-size: 40px;
	border-radius: 25%;
	background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid black;
  outline: none;
}

h4 {
	font-family: Freakshow;
}

button:hover {
	color: #CC3300;
	border: 2px solid #CC3300;
	background: white;
}

.max-width {
	max-width: 1200px;
	margin: 0 auto;
}

.turns-left {
	font-family: Freakshow;
	font-size: 22px;
}

.music-ctrls {
	text-align: right;
}

.music-ctrls h4 {
	font-size: 22px;
}

#music {
	height: 35px;
	width: 35px;
	border-radius: 25%;
	background-color: transparent;
	border: 2px solid black;
	outline: none;
}

#music:hover {
	border: 2px solid #CC3300;
	background: white;
}

#on {
	color: #CC3300;
}

.color {
	color: black;
	vertical-align: middle;
}
.color:hover {
	color: #CC3300;
}

#vol {
	position: relative;
	padding-bottom: 3px;
	padding-right: 5px;
}

.intro {
	text-align: center;
	font-family: Freakshow;
	height: 402px;
	padding-top: 15vh;
}

.directions {
	font-size: 30px;
	text-align: center;
	color: white;	
	max-width: 600px;
	margin: 0 auto;
	padding-top: 20px;
}

.diff-btns-wrapper {
	text-align: center;
	padding-top: 20vh;
}

.diff-btn {
	margin-bottom: 10px;
}

.diff-btns-wrapper p {
	font-family: Freakshow;
	font-size: 25px;
	// color: #CC3300;
	color: #FFFFFF;
	padding-bottom: 20px;
}

.diff-btns-wrapper span {
	color: #CC3300;
}

.word {
	padding-bottom: 15px;
	text-align: center;
}

.letter-btns {
	max-width: 870px;
	margin: 0 auto;
	text-align: center;
}

.letter {
	height: 60px;
	width: 50px;
	border-bottom: 5px solid black;
	display: inline-block;
	margin-right: 15px;
	border-radius: 25%;
	background: white;
	vertical-align: top;
}

.let {
	font-family: Freakshow;
	font-size: 50px;
	text-align: center;
	padding: 0;
	margin: 0;
	color: black;
}

// .w {
// 	display: flex;
// 	justify-content: space-around;
// }

.input {
	height: 60px;
	width: 50px;
	margin: 5px 5px 5px 5px;
	color: white;
	border: 2px solid white;
	text-align: center;
	line-height: 50px;
	padding-bottom: 10px;
}

.input:hover {
	border: 2px solid #CC3300;
	background: white;
}

.display {
	position: relative;
	height: 400px;
	padding-top: 20vh;
}

.hang-display {
	position: absolute;
	top: 0;
	width: 575px;
	height: 400px;
}

.add {
	color: #CC3300;
	border: 2px solid #CC3300;
	background: white;
}

.tc {
	color: #CC3300;
}

#reset {
	height: 50px;
	width: 200px;
	font-size: 30px;
	margin-top: 20px;
}

.square-btn {
	border-radius: 0;
}

@media(max-width:767px) {
  .intro h1 {
  	font-size: 100px;
  } 
  .description {
  	font-size: 25px;
  }
}

// @media(max-width:540px) {
// 	.music-ctrls {
//   	text-align: left;
//   }
// }